* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(-45deg, #667eea 30%, #013692 70%, #89f7fe 100%);
    background-size: 100% 300%;
    animation: bodyy 15s ease infinite;
  }
  
  @keyframes bodyy {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    transition: 1s;
    opacity: 0.5;
    animation: txt 1.2s ease forwards, Text 3s infinite ease-in-out;
    opacity: 0;
  }
  
  .logo:hover {
    transform: scale(1.1);
    opacity: 1;
    background: linear-gradient(-45deg, #013692 50%, #764ba2 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-links a {
    margin-right: 20px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    animation: txt 0.8s ease forwards;
    opacity: 0;
  }
  
  .nav-links a:hover {
    opacity: 1;
    background: linear-gradient(-45deg, #013692 50%, #764ba2 70%);
    border-radius: 12px;
    transform: scale(1.8);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: transparent;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-45deg, #667eea 10%, #764ba2 25%, #013692 100%);
    width: 80%;
    height: 100%;
    margin-top: 50px;
    box-shadow: 3px 3px 3px 3px #99adcf;
    border-radius: 10px;
  }
       